.centered-button {
    display: block;
    margin: 0 auto;
    background-color: #ffd740; 
}

.mat-dialog-icon {
    font-size: 25px; /* Adjust the size as needed */
    vertical-align: middle; /* Center the icon vertically */
    color: red; /* or any other desired color */
    margin-right: 8px; /* Add some spacing between the icon and text */
  }