<div class="container">
    <h1>Your Purchased Tickets</h1>
    <span><h3>Here there are the latest tickets you bought</h3></span>

    <mat-divider class="divider" [inset]="true"></mat-divider>

    <div *ngIf="tickets.length > 0">
        <div *ngFor="let ticket of tickets;let i = index">
            <div class="cardWrap">
                <div class="card cardLeft">
                    <h1><span>Cinema</span></h1>
                    <div class="title">
                        <h2>Movie: {{ticket.movie}}</h2>
                    </div>
                    <div class="seat">
                        <h2>Cost: {{ticket.cost}}</h2>
                    </div>
                    <div class="time">
                        <h2>Show: {{ticket.startDate}} - {{ticket.startTime}}</h2>
                    </div>

                </div>
                <div class="card cardRight">
                    <div class="number">
                        <h3>{{ticket.seat}}</h3>
                        <span>seat</span>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="example-button-container">
            <button mat-raised-button color="warn"
             aria-label="Example icon button with a home icon" 
             (click)="onDeleteTicket()">
                Delete ticket
            </button>
        </div>
    </div>
</div>