<div class="navbar">
</div>
  <div class="main">
  <div class="area">
    <h2>See the latest movies in the theatre</h2>
    <h3>Or create your collection of favourite movies</h3>

    <div class="example-button-row" >
      <button mat-fab extended color="warn" >
        <mat-icon>manage_accounts</mat-icon>
        <a class="nav-link active" routerLink="/movies">Movies</a>
        </button>
      <button mat-fab extended color="accent">
        <mat-icon>theaters</mat-icon>
        <a class="nav-link active" routerLink="/cinema">Cinema</a>
        </button>
    </div>
  </div>
  </div>
