<mat-grid-list cols="2">
    <mat-grid-tile>
        <div class="card-wrapper">

            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Cinema Card</mat-card-title>
                <mat-card-subtitle>
                  you will be able to purchase tickets for movies
                </mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image style="width: 150px;" 
              src="premium-vector%2Fcinema-movie-background-popcorn-filmstrip-clapboard-tickets-movie-time-background_41737-248.jpg&tbnid=cyOlZnzXOwaQlM&vet=12ahUKEwj48ILj7c-AAxVny7sIHYD0D4MQMygAegUIARDvAQ..i&imgrefurl=https%3A%2F%2Fit.freepik.com%2Fvettori-premium%2Fsfondo-di-film-cinema-popcorn-pellicola-assicella-biglietti-sfondo-del-tempo-del-film_9600953.htm&docid=XfME4WcLdSBKOM&w=626&h=625&q=cinema%20image&ved=2ahUKEwj48ILj7c-AAxVny7sIHYD0D4MQMygAegUIARDvAQ">
              <mat-card-content>
                <p>
                  Click to see which movies are available and purchase a tiket
                </p>
              </mat-card-content>
          
              <mat-card-actions>
                <button mat-raised-button color="accent" routerLink="../cinema">CINEMA</button>
              </mat-card-actions>
            </mat-card>
          
          </div>
        
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="card-wrapper">

            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Movie Card</mat-card-title>
                <mat-card-subtitle>
                  you will be able to see all your favourite movies
                </mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image style="width: 150px;" 
              src="premium-vector%2Fcinema-movie-background-popcorn-filmstrip-clapboard-tickets-movie-time-background_41737-248.jpg&tbnid=cyOlZnzXOwaQlM&vet=12ahUKEwj48ILj7c-AAxVny7sIHYD0D4MQMygAegUIARDvAQ..i&imgrefurl=https%3A%2F%2Fit.freepik.com%2Fvettori-premium%2Fsfondo-di-film-cinema-popcorn-pellicola-assicella-biglietti-sfondo-del-tempo-del-film_9600953.htm&docid=XfME4WcLdSBKOM&w=626&h=625&q=cinema%20image&ved=2ahUKEwj48ILj7c-AAxVny7sIHYD0D4MQMygAegUIARDvAQ">
              <mat-card-content>
                <p>
                  Click to see all yur favourite movies
                </p>
              </mat-card-content>
          
              <mat-card-actions>
                <button mat-raised-button color="accent" routerLink="../movies">MOVIES</button>
              </mat-card-actions>
            </mat-card>
          
          </div>
      </mat-grid-tile>

</mat-grid-list>