<div class="container-fluid">
  <div class="cellphone-container">    
      <div class="movie">      
        <img src="{{movieDetail.posterUrl}}" class="movie-img" alt="No poster for the movie"> 
        <div class="text-movie-cont">
          <div class="mr-grid">
            <div class="col1">
              <h1>{{movieDetail.title}}</h1>
              <ul class="movie-gen">
                <p>{{genres}}</p>
              </ul>
            </div>
          </div>
          <div class="mr-grid summary-row">
            <div class="col2">
              <h5>SUMMARY</h5>
            </div>
          </div>
          <div class="mr-grid">
            <div class="col1">
              <p class="movie-description">{{movieDetail.plot}}</p>
            </div>
          </div>
        </div>
      </div>
    
    
