<div class="wrapper">
  <div class="movie-card">
    <div class="card_left">
      <div class="card_details">
        <h1>{{movie.title}}</h1>
        <div class="card_category">
          <p class="PG">{{movie.rated}}</p>
          <p class="year">{{movie.year}}</p>
          <p class="genre">{{movie.genre}}</p>
          <p class="time">{{movie.runtime}}</p>
        </div>
        <p class="plot">{{movie.plot}}</p>
        <span *ngFor="let show of shows">
          
          <button (click)="getTicket(show)">
            {{show.startDate}} {{show.startTime}}
          </button>
        
      </span>
      </div>
    </div>
    <div class="card_right">
      <div>
        <img src="{{movie.poster}}" alt="">
      </div>
    </div>
  </div>
</div>