  <div class="row justify-content-end">
    <div class="col-4 md-5"></div>
    <div class="col-4 md-5">
      <!--
      <div class="input-group">
        <input matInput type="text" [ngModel]="searchItem">
        <input matInput type="text" [ngModel]="valueItem">
        <button class="btn btn-success flex" (click)="onSearch()" ></button>
      </div>
      -->
    </div>
  <div class="col-4 md-5">
    <button [routerLink]="'new-movie'" routerLinkActive="active" 
      class="btn btn-primary d-flex"> Add Movie</button>
    </div>
  </div>


  <div class="col-4" *ngFor="let movie of movies; let i = index" style="display: inline-block">
    <div class="container-fluid" style="margin: 3rem;">
      <img src="{{movie.posterUrl}}" alt=""><br>
      <div style="height:10px"></div>
      <span style="font-size: medium; font-weight: bold;">{{movie.title}}</span><br>
      <span style="font-size: small; border: 3px;">{{movie.plot}}</span>
      <div class="row">
        <div class="col-4">
          <button (click)="onDetailMovie(movie)" class="btn btn-success font-size"> Details</button>
        </div>
        <div class="col-4">
          <button (click)="onEditMovie(i)" class="btn btn-primary"> Modify</button>
        </div>
        <div class="col-4">
          <button (click)="onDeleteMovie(i)" class="btn btn-danger"> Cancel</button>
        </div>

      </div>
    </div>
  </div>

  